body{
    background-color: rgba(6, 6, 6, 0.196);
    color: darkblue;
}

section{
    background-color: rgb(131, 165, 197);
    padding-top:80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    font-size: 80px;
    margin: 80px;
}
.TEXTO1{margin-top: 80px;
}

img{
    height: 200px;

.Categoria Videos
display: flex;
overflow: auto;
gap:10px;
}