body{
    background-color: rgba(6, 6, 6, 0.196);
    color: darkblue;
}

section{
    background-color: rgb(131, 165, 197);
    padding-top:40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    }

header{
    font-size: 40px;
    margin: 40px;
    justify-content: center;
}

.TEXTO1{margin-top: 80px;
}

img{
    height: 200px;

Categoria Videos
display: flex;
overflow: auto;
gap:10px;
}